#!/usr/bin/python

import sys

from cloudatcost import cloudatcost
key = '' # https://panel.cloudatcost.com/api-details.php
login = '' # https://panel.cloudatcost.com/api-details.php


# KEEP CREDENTIALS AS BASH VARIABLES, A BIT MORE SECURE THAN PLAIN TEXT
#if os.environ.has_key('CLOUDATCOST_KEY'):
#   key=os.environ.get('CLOUDATCOST_KEY')
#else:
#   key=''
#if os.environ.has_key('CLOUDATCOST_LOGIN'):
#   login=os.environ.get('CLOUDATCOST_LOGIN')
#else:
#   login=''
#



if len(sys.argv) == 2:
    cl = cloudatcost(key, login)
    cl.request(sys.argv[1])
    print cl.response()
elif len(sys.argv) > 2:
    cl = cloudatcost(key, login)
    cl.request(sys.argv[1], sys.argv[2:])
    print cl.response()
else:
    print "input operation"
